#home{
    background-image:  url(../images/desktop-wallpaper-cool-website-background-best-background.jpg);
    height: 100vh;
}
.bg-img{
    background-size: cover;
    background-attachment:fixed;
    background-position: center center;
}
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
}
.ff-p{
    font-family: "Playfair Display", serif;
    letter-spacing: 7px;
}
.h-15{
    height: 15%;
}
.w-20{
    width: 20%;
}
 h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 47px;
    background-color: #ffffff;
    transition: height 0.5s;
    z-index: -1;
}
h1{
    color: white;
    transition: 0.5s;
}
h1:hover::before {
    height: 28%;
}
h1:hover{
    color: #0d6efd;
}